*{
    margin: 0;
    padding: 0;
}

.pai{
    background-color: lightgray;
    border: 2px solid black;
    height: 300px; /* opcional */
    margin: 10;
}

.filho1{
    background-color: red;
    height: 100px;
    width: 33.33%;
}

.filho2{
    background-color: blue;
    height: 100px;
    width: 33.33%;
    margin-left: auto;
}

.filho3{
    background-color: green;
    height: 100px;
    width: 33.33%;
    margin: auto;
}
